<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>You're normal</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    </link>
    <style>
        .paing {
            margin: 20px;
        }
    </style>

<body style="background-color: #F6EFB3;">
    <div style="background-color: #F6EFB3;">
        <div class="container" style="background-color: #F3D99D;margin-top:20px; margin-bottom:20px">

            <div class="col-md-12" style="text-align: center; font-family: serif; font-style: italic; font-size: 50px;">
                Congratulations you're very healthy
            </div>
        </div>
    </div>
</body>
</head>