<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Breakfast</title>
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
    </link>
    <style>
        .paing {
            margin: 20px;
        }
    </style>
</head>

<body style="background-color: #F6EFB3;">
    <div style="background-color: #F6EFB3;">
        <div class="container" style="background-color: #F3D99D; margin-top:20px; margin-bottom:20px    ">
            <div class="row">
                <div class="col-md" style="padding:20px 20px;">
                    <center><img src="../static/lunchnew1.jpg" class="img-fluid"></center>
                </div>
            </div>
            <div class="row">
                <div class="col-md"
                    style="font-family: serif; font-style: italic; font-size: 50px; text-align: center;">
                    <b>
                        Breakfast for today
                    </b>
                </div>
            </div>
            <hr width="80%" size="3" color="black">
            <div class="row">
                <div class="col-md" style="padding:10px 10px; font-family: serif; font-style: italic; font-size: 17px;">
                    <center>
                        <div class="card border-warning mb-3" style="max-width: 24rem; max-height: 30rem;">
                            <div class="card-header bg-transparent border-warning">
                                <h4 style="color: #FF9966;">
                                    <b>Why is breakfast so important?</b></h4>
                            </div>
                            <div class="card-body text-warning">
                                <h4..! class="card-title">Why is breakfast so important?</h4..!>
                                <p class="card-text"> We get a strong and healthy body with a healthy mind
                                    as well by eating healthy food. Healthy food keeps fit and active.
                                    <br><br>
                                    Healthy food is full of various nutrients. These nutrients provide
                                    us energy and alertness. Hence, we stay active.
                                    It protects you from various diseases, including chronic diseases.
                                </p>
                            </div>

                        </div>
                    </center>
                </div>
            </div>
            <div class="row" style="text-align: center;">
                <div class="col-md-4" style="padding:15px 8px;">
                    <img src="../static/breakfast1.jpg" class="img-fluid img-thumbnail" width="400" height="300" />
                </div>
                <div class="col-md-4" style="padding:15px 8px;">
                    <img src="../static/breakfast3.jpg" class="img-fluid img-thumbnail" width="400" height="300" />
                </div>
                <div class="col-md-4" style="padding:15px 8px;">
                    <img src="../static/breakfast4.jpg" class="img-fluid img-thumbnail" width="400" height="300" />
                </div>
            </div>
            <hr width="80%" size="3" color="black">
            <div class="row">
                <div class="col-md" style="font-family: serif; font-style: italic; font-size: 35px;">
                    <b>
                        <center>Select mode...</center>
                    </b>
                </div>
            </div>
            <div class="row" style="padding:20px 20px 30px;">
                <div class="col-md-6" style="font-family: serif; font-style: italic; font-size: 19px;">
                    <div class="card" style="background-color: sandybrown; margin-top:20px;">
                        <div class="card-body">
                            <div class="card-header bg-transparent border-warning">
                                <center>
                                    <h4>
                                        <b>
                                            <u>Healthy</u> Option
                                        </b>
                                    </h4>
                                </center>
                            </div>
                            <p class="card-text">

                                If you want to eat foods that are low in calories.
                                Pleace put your weight and height to calculate the amount
                                of food that is right for you.

                            </p>
                            <h5 style="font-family: monospace;">
                                <form name="form1" method="POST" action="/input2">
                                    <ul style="font-family: monospace;">
                                        <li>Weight : <input id="score3" type="text" name="weight" />
                                        </li>
                                        <br>
                                        <li>Height : <input type="float" name="Height" size="20"
                                                maxlength="40" /><br /></li>
                                    </ul>
                                    <input class="btn btn-primary" type="submit" value="Generate Your Food"
                                        style="background: #d17f59;">
                                </form>
                            </h5>

                        </div>
                    </div>
                </div>
                <div class="col-md-6" style="font-family: serif; font-style: italic; font-size: 19px;">
                    <div class="row">
                        <div class="card" style="background-color: sandybrown; margin-top: 20px">
                            <div class="card-body">
                                <div class="card-header bg-transparent border-warning">
                                    <center>
                                        <h4>
                                            <b>
                                                <u>Normal</u> Option
                                            </b>
                                        </h4>
                                    </center>
                                </div>
                                <p class="card-text">
                                    This mode is default so it's random foods for you.
                                    For those who can't think out what to eat.
                                </p>
                                <input class="btn btn-primary" type="submit" value="Generate Your Food"
                                    style="background: #d17f59;">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="card" style="background-color: sandybrown; margin-top: 20px; width: 100%;">
                            <div class="card-body">
                                <div class="card-header bg-transparent border-warning" style="text-align: center;">
                                    <h4>
                                        <b>
                                            You should eat
                                        </b>
                                    </h4>
                                </div>
                                <div style="text-align: center; font-size: 300%;">
                                    <p class="card-text">
                                        <b>{{body_ssa}}</b>
                                    </p>
                                </div>
                                <p class="card-text">
                                    <center><p><b>{{body_ssa}}</b></p></center>
                                </p>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <a href="/templates/first.html" class="btn btn-primary"
                style="background-color: sienna; font-family: serif; margin-bottom: 20px;
                 margin-left: 15px;">Main menu
            </a>
        </div>
</body>


</html>